@mixin media-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin media-pc {
  @media (min-width: 1440px) {
    @content;
  }
}


body {
  margin: 0;
  padding: 0;
  background-image: url(../../img/wallpaper_mobile.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  text-align: center;
  @include media-tablet {
    background-image: url(../../img/wallpaper_tablet.jpg);
  }
  @include media-pc {
    background-image: url(../../img/wallpaper_PC.jpg);
  }

}
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s, transform 0.5s;
  z-index: 9999;
  border-left: 5px solid #e74c3c;
  color: #e74c3c;
  background-color: #fdecea;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}
#contenedor {
  margin-top: 2rem;
  background-color: rgba(255, 235, 205, 0.8);
  padding: 2rem;
  width: 90%;
  @include media-tablet {
    width: 80%;
  }
  @include media-pc {
    width: 70%;
  }
  
}
.botones {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}


button {
  padding: 0.4rem;
  font-size: 1.1rem;
  border: 1px solid #999;
  border-radius: 5px;
  background: #FFEBCD;
  color: #333;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);     
  &:hover {
    background: #d0d0d0;
  }
  &#logOut {
    background: #bb0a21;
    border: none;

        }
        }
#joinCampaign,
#createCampaign {
  display: none;

  form {
  margin-top: 3rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  background-color: #ffebcd;
  border-radius: 0.5em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
}


