@mixin media-sm {
  @media (min-width: 576px) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(../../img/wallpaper_PC.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  padding: 1rem;
  margin: 2rem;
}

form {
  background-color: rgba(255, 235, 205, 0.8);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
    button {
      grid-column-start: 6;
      grid-column-end: 8;
    }
}
button {
            padding: 0.4rem;
            font-size: 1.1rem;
            border: 1px solid #999;
            border-radius: 5px;
            background: #FFEBCD;
            color: #333;
            cursor: pointer;
            user-select: none;
            transition: background 0.3s;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
button:hover {
            background: #d0d0d0;
        }
        #logOut {
           background: #bb0a21;
           border: none;

        }

@include media-sm {
  form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  input,
  textarea,
  select {
    grid-column: span 2;
  }
  .stat {
    grid-column: span 1;
  }
  #stats {
    grid-column: span 12;
    border-top: 1px dashed red;
    padding-top: 1rem;
  }
}
