body {
  margin: 0;
  padding: 0;
  background-image: url(../../img/wallpaper_PC.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

#contenedor {
  margin-top: 2rem;
  background-color: rgba(255, 235, 205, 0.8);
  padding: 2rem;
}

.botones {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

#joinCampaign,
#createCampaign {
  display: none;
}

form {
  margin-top: 3rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  background-color: #ffebcd;
  border-radius: 0.5em;
}
