body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-image: url(../../img/wallpaper_PC.jpg);
}

#body {
  margin: 0rem 0rem 0rem 7rem;
  color: #bb0a21;
  background-color: rgba(255, 235, 205, 0.8);
  padding: 1rem;
  width: 70%;
}

p {
  background-color: #fadeb3;;
  padding: 1.5em;
}

h1, h2 {
  color: #bb0a21;
  padding: 0.5em;
  background-color: #fadeb3;;
  border-radius: 0.5em;
  text-align: center;
}

.newCampaign,
.newSheet {
  display: flex;
  justify-content: end;
}

#campaigns,
#sheets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.campaign,
.sheet {
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  width: 27%;
  background-color: #fadeb3;;
}

.mas {
  background-color: #fcd7ad;
  margin-top: 1rem;
}

.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s, transform 0.5s;
  z-index: 9999;
  border-left: 5px solid #27ae60;
  color: #27ae60;
  background-color: #e9f8f0;

  &.show {

    transform: translateY(0);
  }

  &.success {
    border-left: 5px solid #27ae60;
    color: #27ae60;
    background-color: #e9f8f0;
  }
}

button {
  border-radius: 2em;
  background-color: #fadeb3;

  &:hover {
    box-shadow: 0px 0px 4px 0px black;
  }
}

#logOut {
  background-color: #bb0a21;
}

#margin {
  padding: 2rem;
  position: absolute;
  left: 0;
  margin-left: 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#menuHamburguesa {
  width: 4rem;
}

#menuHamburguesaBotones {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 5rem;
}
