@mixin media-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin media-pc {
  @media (min-width: 1440px) {
    @content;
  }
}


// Variables
$secondary-color: #bb0a21;
$background-light: antiquewhite;
$border-radius: 0.5em;

body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
  background-image: url(../../img/wallpaper_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include media-tablet {
    background-image: url(../../img/wallpaper_tablet.jpg);
  }
  @include media-pc {
    background-image: url(../../img/wallpaper_PC.jpg);
  }
}
button {
  padding: 0.4rem;
  font-size: 1.1rem;
  border: 1px solid #999;
  border-radius: 5px;
  background: #FFEBCD;
  color: #333;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  &:hover {
    background: #d0d0d0;
  }
  &#logOut {
    background: #bb0a21;
    border: none;
  }
}
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s, transform 0.5s;
  z-index: 9999;
  border-left: 5px solid #27ae60;
  color: #27ae60;
  background-color: #e9f8f0;
  &.show {
    transform: translateY(0);
    opacity: 1;
  }
  &.error {
    border-left-color: #e74c3c;
    color: #e74c3c;
    background-color: #fdecea;
  }
  &.success {
    border-left: 5px solid #27ae60;
    color: #27ae60;
    background-color: #e9f8f0;
  }
}
#contenedor {
  width: 70vw;
  padding: 0.5em;
  margin: 0.5em 0 0 3rem;
  background-color: rgba(255, 235, 205, 0.8);
  color: $secondary-color;
  border-radius: $border-radius;
  text-align: center;
  position: relative;

  #campaignButton,
  #campaignDelete {
    position: absolute;
    min-width: 120px;
    padding: 10px 15px;
    top: 0.7%;
  }

  #campaignButton {
    right: 2%;
  }

  #campaignDelete {
    left: 2%;
    background-color: #bb0a21;
  }
  img {
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  #campaignForm {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(255, 235, 205, 0.8);
    padding: 1rem;
    border-radius: $border-radius;
    margin-top: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    background-color: rgba(255, 235, 205, 0.8);
  }
}

#sheetPage,
#journalPage {
  height: auto; 
  min-height: 10rem;
  max-height: 30vh;
  overflow-y: auto; 
  background-color: rgba(255, 235, 205, 0.8);
  margin: 1rem;
  padding: 1rem;
  border-radius: $border-radius;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#participants {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem; 

  #participantsTittle, .inviteCode {
  flex-basis: 82%;
  }
  .profilePic {
    max-width: 15%;
    border-radius: 50%;
  }

  .participant {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }
}



#margin {
  margin-top: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  #menuHamburguesa {
  width: 4rem;
  position: relative;
  left: -35%;
  padding: 0.6rem;
  border-radius: 8px;
  background-color: rgba(255, 235, 205, 0.9);
  border: 1px solid rgb(255, 235, 205);
}

  #menuHamburguesaBotones {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4rem;
    margin-top: 5rem;
    h1 {
      color: #ccc;
    }
  }
}

// Media queries
@media (min-width: 576px) {
  #contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #sheet {
    grid-column: span 2;
  }

  #journal {
    border-right: 1px dashed $secondary-color;
  }

  #participants {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #participantsTittle {
    grid-column: span 3;
  }
}

@media (min-width: 992px) {
  #contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  #sheet {
    grid-column: span 1;
  }

  #journal {
    border-right: none;
  }

  #participants {
    border-top: 1px dashed $secondary-color;
    grid-column: span 2;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #participantsTittle {
    grid-column: span 3;
  }
}
