body {
display: flex;
}
#body {
    margin: 0rem 0rem 0rem 7rem;
    color: #bb0a21;
}
p {
    background-color: #ffebcd;
    padding: 1.5em;
}
h2 {
    text-align: center;
}
.newCampaign , .newSheet  {
    display: flex;
    justify-content: end;
}

#campaigns, #sheets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.campaign, .sheet {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    width: 27%;
    background-color: #ffebcd;
}

.mas {
    background-color: #fcd7ad;
    margin-top: 1rem;
}
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s, transform 0.5s;
  z-index: 9999;
  display: none;
  border-left: 5px solid #27ae60;
  color: #27ae60;
  background-color: #e9f8f0;
}

.popup.show {
  opacity: 1;
  transform: translateY(0);
}



.popup.success {
  border-left: 5px solid #27ae60;
  color: #27ae60;
  background-color: #e9f8f0;
}