body {
display: flex;
}
#body {
    margin: 0rem 0rem 0rem 7rem;
    color: #bb0a21;
}
p {
    background-color: #ffebcd;
    padding: 1.5em;
}
h2 {
    text-align: center;
}
.newCampaign , .newSheet  {
    display: flex;
    justify-content: end;
}

#campaigns, #sheets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.campaign, .sheet {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    width: 27%;
    background-color: #ffebcd;
}

.mas {
    background-color: #fcd7ad;
    margin-top: 1rem;
}