body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
  background-image: url(../../img/wallpaper_PC.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  padding: 0.4rem;
  font-size: 1.1rem;
  border: 1px solid #999;
  border-radius: 5px;
  background: #FFEBCD;
  color: #333;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: background 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: #d0d0d0;
}

#logOut {
  background: #bb0a21;
  border: none;
}

.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s, transform 0.5s;
  z-index: 9999;
  border-left: 5px solid #27ae60;
  color: #27ae60;
  background-color: #e9f8f0;
}
.popup.show {
  transform: translateY(0);
  opacity: 1;
}
.popup.error {
  border-left-color: #e74c3c;
  color: #e74c3c;
  background-color: #fdecea;
}
.popup.success {
  border-left: 5px solid #27ae60;
  color: #27ae60;
  background-color: #e9f8f0;
}

#contenedor {
  width: 70vw;
  padding: 0.5em;
  margin: 0.5em 0 0 3rem;
  background-color: rgba(255, 235, 205, 0.8);
  color: #bb0a21;
  border-radius: 0.5em;
  text-align: center;
  position: relative;
}
#contenedor #campaignButton,
#contenedor #campaignDelete {
  position: absolute;
  min-width: 120px;
  padding: 10px 15px;
  top: 0.7%;
}
#contenedor #campaignButton {
  right: 2%;
}
#contenedor #campaignDelete {
  left: 2%;
  background-color: #bb0a21;
}
#contenedor img {
  max-width: 100%;
}
#contenedor #campaignForm {
  display: none;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(255, 235, 205, 0.8);
  padding: 1rem;
  border-radius: 0.5em;
  margin-top: 1rem;
}
#contenedor form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  background-color: rgba(255, 235, 205, 0.8);
}

#sheetPage,
#journalPage {
  height: auto;
  min-height: 10rem;
  max-height: 30vh;
  overflow-y: auto;
  background-color: rgba(255, 235, 205, 0.8);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5em;
}

#participants {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
#participants .profilePic {
  max-width: 15%;
  border-radius: 50%;
}
#participants .participant {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

#participantsTittle {
  flex-basis: 82%;
}

#margin {
  margin-top: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#margin #menuHamburguesa {
  width: 4rem;
  position: relative;
  left: -35%;
  padding: 0.6rem;
  border-radius: 8px;
  background-color: rgba(255, 235, 205, 0.9);
  border: 1px solid rgb(255, 235, 205);
}
#margin #menuHamburguesaBotones {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 4rem;
  margin-top: 5rem;
}
#margin #menuHamburguesaBotones h1 {
  color: #ccc;
}

@media (min-width: 576px) {
  body {
    background-image: url(../../img/wallpaper_mobile.jpg);
  }
  #contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #sheet {
    grid-column: span 2;
  }
  #journal {
    border-right: 1px dashed #bb0a21;
  }
  #participants {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #participantsTittle {
    grid-column: span 3;
  }
}
@media (min-width: 992px) {
  body {
    background-image: url(../../img/wallpaper_tablet.jpg);
  }
  #contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  #sheet {
    grid-column: span 1;
  }
  #journal {
    border-right: none;
  }
  #participants {
    border-top: 1px dashed #bb0a21;
    grid-column: span 2;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #participantsTittle {
    grid-column: span 3;
  }
}/*# sourceMappingURL=stylesCampaign.css.map */